/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require default.min
 *= require font-awesome
 *= require_tree .
 */

body {
  position: relative;
  height: 100%;

  #sidebar {
	  background: white;
	  padding: 20px 0px 20px 0px;
	  width: 240px;
	  bottom:0px;
	  display:block;
	  min-height: 100%;
    position:fixed;
    background-color: #2A2F34;
	  height: 100%;
    top: 40px;
    border-right: 1px black solid;


    background-image:url('/assets/bg-navbar.png');
    background-repeat:repeat;
    background-position:right top;
  }

  #content {
  top: 50px;
  position: fixed;
  left: 240px;
  width: 100%;
  /*background-color: red;*/
  }
}

.well {
	margin-top: 20px;
}

#main {
width: 100%;
}

.btn-group {
	img.icon {
		height: 1em;
	}
  img.tinyicon {
    height: 0.5em;
  }
	span.icon {
		font-family: Arial, sans-serif;
		font-weight: bold;
	}
}

.tipster-align-right {
	text-align: right;
}

.footer {
  background-color: black;
}

.alert .close {
	right: 0px;
}

.field {
	textarea {
		width: 100%;
		height: 5em;
	}


}

.tip-container {
.tip-title {
margin-top: 10px;
  color: #DD390D;
  background-color: #FDFDFD;
  height: 20px;
    padding: 0 3px 2px;
  font-family: 'Helvetica Neue', Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;

  font-weight: bold;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;

}
}

.down {
margin-top: 10px;
}

.fix-margins {
margin: 10px;
}

/* bootstrap overrides */

.btn {
padding: 2px 4px;
padding-top: 2px;
margin: 1px;

}

.alert-success {
  margin-top: 5px;
  color: #468847;
  border: 0px;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 100%;
  margin: 0px;
  padding: 0px 15px;

}

/* menu */
.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  color: #ABB9BF;
  text-shadow: none;
  font-size: 12px;
  font-family: Arial;
}

.nav-list > li > a {
  padding: 3px 15px;
  color: #ABB9BF;
}

.nav > li > a:hover {
  padding: 3px 15px;
  color: #FEFEFE;
  background: none;
}

.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
